@page
@{
    Layout = "_Layout";
}


<div class="main-container">
    <span style="font-size: 180%; margin: 20px;">Новости</span>
</div>

<div class="album py-5 bg-white">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">*@
                    @*<title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Picture</text>*@
                        <img src="https://static.riafan.ru/uploads/2021/12/01/992_16x9-216-1638357913.webp" height="225"/>
                    @*</svg>*@

                    <div class="card-body">
                        <p class="card-text">Штамп Оксимирон: что презентовал поклонникам главный рэпер страны</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://sun1.tattelecom-nbc.userapi.com/impg/YkrcRiMqr2m8DQm7yTzu8DyXaQdMs3FBwQ4scw/ZcHonKIdMbo.jpg?size=761x768&quality=96&sign=5fc18a521b4c61592a1ff3b3e2e49a64&type=album" height="225" />

                    <div class="card-body">
                        <p class="card-text">Король и Шут - самая прослушиваемая группа в российском Spotify по итогам 2021 года </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://sun1.tattelecom-nbc.userapi.com/impg/MB0ftrfwgt4z4oOpYMoFk2MSITMEGmNSvW4HWQ/S9BlxcGtIoE.jpg?size=1080x1080&quality=96&sign=91219a82d07df35738c6b7258242767d&type=album" height="225" />

                    <div class="card-body">
                        <p class="card-text">Imanbek - самый прослушиваемый артист из СНГ, которого чаще всего слушали за пределами России в Spotify по итогам 2021 года</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://sun2.tattelecom-nbc.userapi.com/impg/TKV9t_JA705v7QnxG47xVB6lAFafhj6REgEi9Q/Hu-rkNX0QkM.jpg?size=1080x1143&quality=96&sign=d6d9b9c24c969ca544f1e271675fbbf0&type=album" height="225" />

                    <div class="card-body">
                        <p class="card-text">50 Cent извинился перед Мадонной за то, что высмеял ее обнаженные фотографии</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://sun1.tattelecom-nbc.userapi.com/impg/yOU_jlQPTmlEq5rJahoQrg60SY-p7poebr6azw/ESCRYI2RIjM.jpg?size=900x900&quality=96&sign=31151a612523f7686285877a41740dd0&type=album" height="225" />

                    <div class="card-body">
                        <p class="card-text">Eminem признан самым популярным хип-хоп исполнителем на YouTube</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://sun1.tattelecom-nbc.userapi.com/impg/H9bCCo15Si337vRL1XPmp6U-AGBx9VUxUHl5RA/5_hO7jflCRw.jpg?size=749x768&quality=96&sign=11204e649591b6d9dd9c6e97be002198&type=album" height="225" />

                    <div class="card-body">
                        <p class="card-text">
                            А как вы оцениваете первый за шесть лет альбом Oxxxymiron'a - "Красота и Уродство"? Оправдались ли ваши ожидания или наоборот?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>