@page
@model MusicSemestrWork.Models.User
@{
    Layout = "_Layout";
}

<div class="registration-form">
    <h1 class="text-center" style="font-family: Arial; font-weight: lighter;">Регистрация</h1>


    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" method="post">
        <p>Электронная почта</p>
        <input type="text" name="username" asp-for="Username" style="color: black">

        <p>Пароль</p>
        <input type="text" name="password" asp-for="Password" style="color: black">
        @*<a href="">Забыли пароль?</a>*@

        <button type="submit" class="btn btn-dark registration-button">Зарегистрироваться</button>
    </form>

</div>